#pb_health {
-fx-accent: red;
}
#pb_speed {
-fx-accent: grey;
}
.fonts {
-fx-text-fill: black;
-fx-padding: 0 0 0 0;
-fx-background-color: rgb(255,255,255);
}
#shield_image {
-fx-opacity: 0.65;
}
VBox, AnchorPane {
-fx-background-color: rgb(255,255,255);
}